# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE files
.idea/
.vscode/

# Model and data artifacts (add if using large model files like .keras)
*.h5
*.keras
*.pkl
*.tar.gz
